:root {
    /*.navigation-header*/
    --hard-blue: #293449;
    --basic-red: #EE3643;
    --white: #FFFFFF;
    --white-active: rgba(255, 255, 255, 0.5);
    --basic-green: #63A63E;
    --green-hover: #5FBB2D;
    --green-active: #63A63E;
    --black-extra-light: rgba(0, 0, 0, 0.0001);
    --blue-active: #161D29;
    --blue-medium-active: #1D2739;
    --grey-light-active: #C5C5C5;
    /*.header-contact*/
    --basic-blue: #131b29;
    /*.content*/
    --grey-light-opacity: #A9A9A9;
    --orange-hard: #FFBF47;
    --blue-bright: #3BBCE3;
    --lilac: #DC91D8;
    --green-light: #8ED78F;
    --orange-dark: #FFC047;
    --red-hover-slide: #CA2C37;
    /*.popular-product .popular-manuf*/
    --grey: #F9F5F0;
    --red: #EE3643;
    --red-active: #BA2732;
    --blue-san: #32425C;
    /*.service*/
    --blue-light-light: #F1F5F7;
    --grey-light: #888888;
    /*.footer*/
    --blue-medium: #293449;
    --blue-dark: #212A3A;
    --black: #000000;
    --special-white: rgba(255, 255, 255, 0.3);
    --grey-oldprice: #A9A9A9;
    --white-footer: #F3F7F9;
    --yellow-footer: #FFD180;
    /*--blue-footer-logo-gradient: linear-gradient(0deg, #212A3A, #212A3A);*/
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    /*text-transform: uppercase;*/
    background-color: var(--black-extra-light);
    /*background-color: var(--black)*/
    /*background-image: url("../img/bg.png")*/
    /*background-position: top center;
        background-repeat: no-repeat;*/
}


/*.page a {
         text-decoration: none;
        color: var(--white)
       }*/

img {
    max-width: 100%;
    height: auto;
    background-color: var(--grey-light);
}


/*header*/

.header {
    background-color: var(--black-extra-light)rgba(0, 0, 0, 0.0001);
}

.header-navigation {
    background-color: var(--blue-medium);
}

.header-logo {
    background-color: var(--red);
}

.header-logo:active {
    background-color: var(--red-active);
}

.header-nav-bookmarks,
.header-nav-basket {
    text-decoration: none;
    background-color: var(--hard-blue);
    color: var(--white);
    text-transform: capitalize;
}

.header-nav-bookmarks:active {
    background-color: var(--blue-active);
    color: var(--white-active);
}

.header-nav-basket:active {
    color: var(--white-active);
}

.header-nav-chekout {
    text-decoration: none;
    background-color: var(--basic-green);
    color: var(--white);
    text-transform: capitalize;
}

.header-nav-chekout:hover {
    background-color: var(--green-hover);
}

.header-nav-chekout:active {
    background-color: var(--green-active);
    color: var(--white-active);
}

.navigation-link {
    text-decoration: none;
    color: var(--white);
}

.linked {
    list-style: none;
}

.header-contact-in,
.header-contact-reg {
    text-decoration: none;
    color: var(--black);
    font-size: 21px;
    line-height: 21px;
    background-color: var(--white);
    text-transform: capitalize;
    list-style: none;
}

.header-contact-in:hover,
.header-contact-reg:hover {
    color: var(--basic-red);
}

.header-contact-in:active,
.header-contact-reg:active {
    color: var(--grey-light-active);
}

.main-navigation {
    background-color: var(--blue-san);
}

.main-nav-down {
    list-style: none;
}

.main-nav {
    text-decoration: none;
    /*list-style: none;*/
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
}

.main-nav:hover {
    background-color: var(--blue-medium);
}

.main-nav:active {
    background-color: var(--blue-medium-active);
    color: var(--white-active)
}

.header-name {
    font-size: 16px;
    line-height: 23px;
    color: var(--red);
    font-style: italic;
}

.header-contact-tell {
    text-decoration: none;
    color: var(--red);
    font-size: 21px;
    line-height: 30px;
}

.header-address {
    color: var(--blue-san);
    font-size: 14px;
    line-height: 24px;
    /*text-transform: capitalize;*/
}

.main-navigation-navy {
    background-color: var(--blue-san)#32425C;
}

.main-nav {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}


/*Main*/

.material {
    background-color: var(--white);
}

.materials {
    background-color: var(--orange-hard);
}

.materials-name {
    color: var(--white);
    font-size: 24px;
    line-height: 30px;
}

.materials-desc {
    text-decoration: none;
    background-color: var(--special-white);
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
}

.materials-desc:hover {
    background-color: var(--grey-light-active);
}

.materials-desc:active {
    background-color: var(--grey-light-opacity);
    opacity: 0, 3;
}

.toll {
    background-color: var(--blue-bright);
}

.tehnic {
    background-color: var(--lilac)
}

.sales {
    background-color: var(--green-light);
}

.delivery {
    background-color: var(--orange-dark);
}

.sliders {
    background-color: var(--grey-light);
}

.slide-name {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
}

.slide-name-desc {
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
}

.btn {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--red);
}

.btn:hover {
    background-color: var(--red-hover-slide);
}

.btn:active {
    background-color: var(--red-active);
}


/*popular-product*/

.popular-product {
    background-color: var(--grey);
}

.popular-product-name {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-blue);
}

.btn-allname {
    text-decoration: none;
    background-color: var(--basic-red);
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
}

.perforator {
    font-size: 17px;
    line-height: 18px;
    background-color: var(--white);
}

.perforator-name {
    font-size: 18px;
    line-height: 20px;
    color: var(--black);
}

.perforator-oldprice {
    font-size: 17px;
    line-height: 18px;
    color: var(--grey-oldprice);
    text-decoration: line-through;
}

.btn-perf {
    text-decoration: none;
    background-color: var(--red);
    color: var(--white);
    font-size: 17px;
    line-height: 18px;
}


/*popular-manuf*/

.popular-manuf {
    background: var(--white);
}

.popular-manufact {
    background-color: var(-);
    background: var(--grey);
}

.popular-manufact-name {
    background-color: var(-);
    background: var(--grey);
    font-size: 30px;
    line-height: 30px;
}


/*service*/

.service {
    background-color: var(--blue-light-light);
}

.sevice-name {
    font-size: 30px;
    line-height: 30px;
}

.service-story {
    font-size: 13px;
    line-height: 24px;
}

.service-option {
    text-decoration: none;
    font-size: 21px;
    line-height: 30px;
    background-color: var(--white);
    color: var(--blue-san);
}

.service-garanty {
    text-decoration: none;
    list-style: none;
    background-color: var(--blue-san);
    font-size: 21px;
    line-height: 30px;
    color: var(--white);
}

.service-credit {
    text-decoration: none;
    list-style: none;
    background-color: var(--blue-san);
    font-size: 21px;
    line-height: 30px;
    color: var(--white);
}


/*Посмотреть стилизацию*/

.option-click-deliv {
    font-size: 30px;
    line-height: 30px;
    color: var(--blue-san);
    text-transform: uppercase;
}

.option-click-deliv-story {
    font-size: 13px;
    line-height: 24px;
}


/*about-tehnomart*/

.about-tehnomart {
    background-color: var(--white);
}

.about-tehnomart-name {
    font-size: 30px;
    line-height: 30px;
}


/*.linked-trans-company {}*/

.tehnomart-name-story {
    font-size: 13px;
    line-height: 24px;
}

.trans-company {
    font-size: 18px;
    line-height: 24px;
}

.contact-down {
    font-size: 30px;
    line-height: 30px;
}

.contact-down-story {
    font-size: 13px;
    line-height: 24px;
}


/*footer*/


/*.footer {}*/

.footer-nav {
    background-color: var(--blue-san);
}

.footer-navigation {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: var(--blue-light-light);
}

.footer-address {
    font-size: 18px;
    line-height: 24px;
    color: var(--white-footer);
}

.footer-navigation-product {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: var(--yellow-footer);
}

.footer-contacts {
    background-color: var(--hard-blue);
}

.footer-protect {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.feedback {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.develop {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}


/*.logo-vk,
    .logo-fb,
    .logo-insta {
    background-color: linear-gradient(0deg, #212A3A, #212A3A);
    }
    */

.footer-link-mail,
.footer-link-url {
    color: var(--yellow-footer);
}
