:root {
    /*.navigation-header*/
    --hard-blue: #293449;
    --basic-red: #EE3643;
    --white: #FFFFFF;
    --white-active: rgba(255, 255, 255, 0.5);
    --basic-green: #63A63E;
    --green-hover: #5FBB2D;
    --green-active: #63A63E;
    --black-extra-light: rgba(0, 0, 0, 0.0001);
    --blue-active: #161D29;
    --blue-medium-active: #1D2739;
    --grey-light-active: #C5C5C5;
    /*.header-contact*/
    --basic-blue: #131b29;
    /*.content*/
    --grey-light-opacity: #A9A9A9;
    --orange-hard: #FFBF47;
    --blue-bright: #3BBCE3;
    --lilac: #DC91D8;
    --green-light: #8ED78F;
    --orange-dark: #FFC047;
    --red-hover-slide: #CA2C37;
    /*.popular-product .popular-manuf*/
    --grey: #F9F5F0;
    --red: #EE3643;
    --red-active: #BA2732;
    --blue-san: #32425C;
    /*.service*/
    --blue-light-light: #F1F5F7;
    --grey-light: #888888;
    /*.footer*/
    --blue-medium: #293449;
    --blue-dark: #212A3A;
    --black: #000000;
    --special-white: rgba(255, 255, 255, 0.3);
    --grey-oldprice: #A9A9A9;
    --white-footer: #F3F7F9;
    --yellow-footer: #FFD180;
    /*catalog*/
    --blue-light-fon: #F2F6F8;
}

body {
    min-width: 1220px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    background-color: var(--black-extra-light);
}


/*header*/

.header {
    background-color: var(--black-extra-light)rgba(0, 0, 0, 0.0001);
}

.header-navigation {
    background-color: var(--blue-medium);
}

.header-navigation-logo {
    background-color: var(--red);
}

.header-navigation-logo:active {
    background-color: var(--red-active);
}

.header-navigation-item {
    list-style: none
}

.header-navigation-link,
.header-navigation-basket {
    text-decoration: none;
    background-color: var(--hard-blue);
    color: var(--white);
    text-transform: capitalize;
}

.header-navigation-bookmarks {
    text-decoration: none;
    color: var(--white);
}

.header-navigation-bookmarks:active {
    background-color: var(--blue-active);
    color: var(--white-active);
}

.header-navigation-basket:active {
    color: var(--white-active);
}

.header-navigation-chekout {
    text-decoration: none;
    background-color: var(--basic-green);
    color: var(--white);
    text-transform: capitalize;
}

.header-navigation-chekout:hover {
    background-color: var(--green-hover);
}

.header-navigation-chekout:active {
    background-color: var(--green-active);
    color: var(--white-active);
}

.main-navigation-link {
    text-decoration: none;
    color: var(--white);
}

.linked {
    list-style: none;
}

.header-contact-in,
.header-contact-reg {
    text-decoration: none;
    color: var(--black);
    font-size: 21px;
    line-height: 21px;
    background-color: var(--white);
    text-transform: capitalize;
    list-style: none;
}

.header-contact-in:hover,
.header-contact-reg:hover {
    color: var(--basic-red);
}

.header-contact-in:active,
.header-contact-reg:active {
    color: var(--grey-light-active);
}

.main-navigation {
    background-color: var(--blue-san);
}

.main-nav-down {
    list-style: none;
}

.main-nav {
    text-decoration: none;
    /*list-style: none;*/
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
}

.main-nav:hover {
    background-color: var(--blue-medium);
}

.main-nav:active {
    background-color: var(--blue-medium-active);
    color: var(--white-active)
}

.header-contact-name {
    font-size: 16px;
    line-height: 23px;
    color: var(--red);
    font-style: italic;
}

.header-contact-tell {
    text-decoration: none;
    color: var(--red);
    font-size: 21px;
    line-height: 30px;
}

.header-contact-address {
    color: var(--blue-san);
    font-size: 14px;
    line-height: 24px;
    /*text-transform: capitalize;*/
}

.main-navigation-list {
    background-color: var(--blue-san)#32425C;
    list-style: none;
}

.main-navigation-link {
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}


/*Main*/

.material {
    background-color: var(--white);
}

.material-item {
    list-style: none;
}

.materials {
    background-color: var(--orange-hard);
}

.materials-name {
    color: var(--white);
    font-size: 24px;
    line-height: 30px;
}

.materials-desc {
    text-decoration: none;
    background-color: var(--special-white);
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
}

.materials-desc:hover {
    background-color: var(--grey-light-active);
}

.materials-desc:active {
    background-color: var(--grey-light-opacity);
    opacity: 0, 3;
}

.material-toll {
    background-color: var(--blue-bright);
}

.material-tehnic {
    background-color: var(--lilac)
}

.material-sales {
    background-color: var(--green-light);
}

.material-delivery {
    background-color: var(--orange-dark);
}

.material-sliders {
    background-color: var(--grey-light);
}

.slide-name {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
}

.slide-name-desc {
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
}

.btn {
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--red);
}

.btn:hover {
    background-color: var(--red-hover-slide);
}

.btn:active {
    background-color: var(--red-active);
}


/*popular-product*/

.popular-product {
    background-color: var(--grey);
}

.popular-product-name {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-blue);
}

.popular-perf-list {
    list-style: none;
}

.popular-product-link {
    text-decoration: none;
    background-color: var(--basic-red);
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
}

.perforator {
    font-size: 17px;
    line-height: 18px;
    background-color: var(--white);
}

.perforator-name {
    font-size: 18px;
    line-height: 20px;
    color: var(--black);
}

.perforator-oldprice {
    font-size: 17px;
    line-height: 18px;
    color: var(--grey-oldprice);
    text-decoration: line-through;
}

.perforator-link {
    text-decoration: none;
    background-color: var(--red);
    color: var(--white);
    font-size: 17px;
    line-height: 18px;
}


/*popular-manuf*/

.popular-manuf {
    background: var(--white);
}

.popular-manufact-price {
    background-color: var(--grey);
}

.popular-manuf-price-name {
    background-color: var(--grey);
    font-size: 30px;
    line-height: 30px;
}

.popular-manuf-price-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    background-color: var(--red);
    color: var(--white);
}

.popular-manuf-manufacturing-item {
    list-style: none;
}


/*service*/

.service {
    background-color: var(--blue-light-light);
}

.sevice-name {
    font-size: 30px;
    line-height: 30px;
}

.service-story {
    font-size: 13px;
    line-height: 24px;
}

.service-list {
    list-style: none;
}

.service-option {
    text-decoration: none;
    font-size: 21px;
    line-height: 30px;
    background-color: var(--white);
    color: var(--blue-san);
}

.service-garanty {
    text-decoration: none;
    list-style: none;
    background-color: var(--blue-san);
    font-size: 21px;
    line-height: 30px;
    color: var(--white);
}

.service-credit {
    text-decoration: none;
    list-style: none;
    background-color: var(--blue-san);
    font-size: 21px;
    line-height: 30px;
    color: var(--white);
}


/*Посмотреть стилизацию*/

.option-click-deliv {
    font-size: 30px;
    line-height: 30px;
    color: var(--blue-san);
    text-transform: uppercase;
}

.option-click-deliv-story {
    font-size: 13px;
    line-height: 24px;
}


/*about-tehnomart*/

.about-tehnomart {
    background-color: var(--white);
}

.about-tehnomart-name {
    font-size: 30px;
    line-height: 30px;
}

.about-tehnomart-list {
    list-style: none;
}

.about-tehnomart-link {
    text-decoration: none;
    list-style: none;
    color: var(--white);
    background-color: var(--red);
    font-size: 14px;
    line-height: 18px
}


/*.linked-trans-company {}*/

.tehnomart-name-story {
    font-size: 13px;
    line-height: 24px;
}

.trans-company {
    font-size: 18px;
    line-height: 24px;
}

.contact-down {
    font-size: 30px;
    line-height: 30px;
}

.contact-down-story {
    font-size: 13px;
    line-height: 24px;
}


/*footer*/


/*.footer {}*/

.footer-nav {
    background-color: var(--blue-san);
}

.footer-nav-list {
    list-style: none;
}

.footer-nav-link {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: var(--blue-light-light);
}

.footer-contacts-link-mail,
.footer-contacts-link-url {
    text-decoration: none;
}

.footer-nav-address {
    font-size: 18px;
    line-height: 24px;
    color: var(--white-footer);
}

.footer-nav-link-product {
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: var(--yellow-footer);
}

.footer-contacts {
    background-color: var(--hard-blue);
}

.footer-contacts-protect {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.footer-contacts-logo {
    text-decoration: none;
    color: white;
}

.footer-contacts-feedback {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.develop {
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}

.footer-contacts-link-mail,
.footer-contacts-link-url {
    color: var(--yellow-footer);
}


/* HEADER CATALOG*/

.catalog-header {
    background-color: var(--black-extra-light);
}

.catalog-header-navigation {
    background-color: var(--blue-medium);
}

.catalog-header-logo-link {
    text-decoration: none;
    color: var(--white);
    background-color: var(--red);
}

.catalog-header-logo-link:active {
    background-color: var(--red-active);
}

.catalog-header-navigation-link-bookmarks,
.catalog-header-navigation-link-basket,
.catalog-header-navigation-link-chekout {
    text-decoration: none;
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
}

.catalog-header-navigation-link-bookmarks:active {
    background-color: var(--blue-active);
    color: var(--white-active);
}

.catalog-header-navigation-link-basket {
    background-color: var(--red);
}

.catalog-header-navigation-link-basket:hover {
    background-color: var(--hard-blue);
}

.catalog-header-navigation-link-basket:active {
    color: var(--white-active);
}

.catalog-header-navigation-link-chekout {
    background-color: var(--basic-green);
}

.catalog-header-navigation-link-chekout:hover {
    background-color: var(--green-hover);
}

.catalog-header-navigation-link-chekout:active {
    background-color: var(--green-active);
    color: var(--white-active);
}

.catalog-header-navigation-list {
    list-style: none;
}

.catalog-header-contact {
    background-color: var(--black-extra-light);
    font-size: 18px;
    line-height: 24px;
}

.catalog-header-contact-name {
    font-size: 16px;
    line-height: 23px;
    color: var(--red);
    font-style: italic;
}

.catalog-header-contact-tell {
    text-decoration: none;
    font-size: 21px;
    line-height: 30px;
    color: var(--red);
}

.catalog-header-contact-address {
    font-size: 14px;
    line-height: 24px;
    color: var(--blue-san);
}

.catalog-header-contact-login {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
}

.catalog-header-contact-myby,
.catalog-header-contact-peraccount {
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    color: var(--blue-san);
}

.catalog-main-navigation {
    background-color: var(--blue-san);
    font-size: 18px;
    line-height: 24px;
}

.catalog-main-navigation-list {
    list-style: none;
}

.catalog-main-navigation-item {
    list-style: none;
}

.catalog-main-navigation-link {
    text-decoration: none;
    color: var(--white);
}

.catalog-breadcrumbs {
    background-color: var(--white);
}

.catalog-breadcrumbs-list {
    list-style: none;
}

.catalog-breadcrumbs-item {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
}

.catalog-breadcrumbs-link {
    text-decoration: none;
    color: var(--black);
}

.catalog-perforators {
    background-color: var(--blue-light-fon);
}

.catalog-head-perforators {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    color: var(--blue-san)
}
